In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np

In [2]:
pip install folium

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: folium in c:\users\patiag\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (0.19.5)
Requirement already satisfied: branca>=0.6.0 in c:\users\patiag\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from folium) (0.8.1)
Requirement already satisfied: jinja2>=2.9 in c:\users\patiag\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from folium) (3.1.5)
Requirement already satisfied: numpy in c:\users\patiag\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from folium) (2.2.3)
Requirement already satisfied: requests in c:\users\patiag\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from folium) (2.32.3)
Requirement already satisfied: xyzservices in c:\users\patiag\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from folium) (2025.1.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\patiag\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from jinja2>=2.9->folium) (3.0.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\patiag\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from requests->folium) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\patiag\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from requests->folium) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\patiag\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from requests->folium) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\patiag\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from requests->folium) (2025.1.31)

In [3]:
import folium
from folium.plugins import HeatMap

In [4]:
import pandas as pd
df = pd.read_csv('Global_terrorist.csv', encoding='ISO-8859-1')

C:\Users\patiag\AppData\Local\Temp\ipykernel_1640\2222195703.py:2: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Global_terrorist.csv', encoding='ISO-8859-1')

In [5]:
df

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN
181687,201712310029,2017,12,31,NaN,0,NaN,200,Syria,10,...,NaN,"""Putin's 'victory' in Syria has turned into a ...","""Two Russian soldiers killed at Hmeymim base i...","""Two Russian servicemen killed in Syria mortar...",START Primary Collection,-9,-9,1,1,NaN
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN

In [6]:
df['country_txt']=='Syria'

0         False
1         False
2         False
3         False
4         False
          ...
181686    False
181687     True
181688    False
181689    False
181690    False
Name: country_txt, Length: 181691, dtype: bool

In [7]:
filter1 = df[df['country_txt']=='Syria']

In [8]:
filter1['iyear'] == 2014

2512      False
2540      False
2590      False
2595      False
2751      False
          ...
181434    False
181455    False
181456    False
181667    False
181687    False
Name: iyear, Length: 2201, dtype: bool

In [9]:
filter2 = filter1[filter1['iyear'] == 2014]

In [10]:
filter2['imonth'].value_counts()

imonth
4     49
10    43
5     40
8     31
6     31
1     24
9     23
7     21
12    21
2     20
11    17
3     11
Name: count, dtype: int64

In [11]:
filter2['imonth'] <= 12

125405    True
125425    True
125426    True
125679    True
125712    True
          ...
142057    True
142058    True
142091    True
142106    True
142150    True
Name: imonth, Length: 331, dtype: bool

In [12]:
filter3 = filter2[filter2['imonth'] <= 12]

In [13]:
filter3['targtype1_txt'].value_counts()

targtype1_txt
Private Citizens & Property       130
Military                           90
Terrorists/Non-State Militia       25
Business                           15
Police                             14
Religious Figures/Institutions     12
Journalists & Media                 9
Educational Institution             8
Unknown                             7
Government (Diplomatic)             5
Government (General)                5
Transportation                      5
NGO                                 4
Utilities                           2
Name: count, dtype: int64

In [14]:
filter4 = filter3[filter3['attacktype1_txt'] == 'Bombing/Explosion']

In [15]:
filter4['city'].value_counts()

city
Damascus     38
Aleppo       35
Kobani       30
Homs         26
Unknown      11
             ..
Jafrah        1
Al-Mallah     1
Handarat      1
Qatmah        1
Furqlus       1
Name: count, Length: 64, dtype: int64

In [16]:
filter5 = filter4.groupby(['latitude','longitude']).size().reset_index(name='incident_count')

In [17]:
filter5

     latitude  longitude  incident_count
0   32.622334  36.103756               1
1   32.674366  36.056892               1
2   32.707739  36.564823               1
3   32.709763  36.567642               1
4   32.711067  36.026836               1
..        ...        ...             ...
69  36.684336  38.802893               1
70  36.695437  38.415062               1
71  36.818630  38.011127               2
72  36.886497  38.350204              29
73  37.053360  41.227345               1

[74 rows x 3 columns]

In [18]:
filter5['normalize_data'] = filter5['incident_count'] - filter5['incident_count'].min() / filter5['incident_count'].max() - filter5['incident_count'].min()
heat_data = filter5[['latitude','longitude','normalize_data']].values.tolist()

In [19]:
my_map = folium.Map(location =[30,40],zoom_start =4)

In [20]:
HeatMap(heat_data).add_to(my_map)

In [21]:
my_map.save('syria.html')
print("Data Successfully Saved to syria.html")

Data Successfully Saved to syria.html

In [22]:
my_map

<h1>Insight no.1</h1>
<h2><b>High Concentration in Southern Syria</b> here is a significant intensity of attacks in southern Syria, particularly around the areas near the borders of Jordan, Israel, and Lebanon.</h2>

<h1>Insight no.2</h1>
<h2><b> Central and Western Hotspots</b> A major cluster of attacks appears in western and central Syria, including areas around Homs, Hama, and potentially Latakia.</h2>

<h1>Insight no.3</h1>
<h2><b>Northern Syria Activity</b> There's moderate heat signature activity in the northern parts of Syria, particularly near Aleppo and the Turkish border.</h2>

<h1>Insight no.4</h1>
<h2><b>Spillover Effects Near Neighboring Countries</b> The heatmap shows activity near the Syrian-Iraqi border and eastern Syria, including Deir ez-Zor and Al-Hasakah.</h2>

<h1>Insight no.5</h1>
<h2><b><?b</h2>